{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réservation{% endblock %}

{% block body %}

<div style="text-align: center; margin-top: 5%;">
    <h1 style="font-size: 60px;">Ajouter une nouvelle date</h1>
    <div style="text-align: center; margin-top: 2%;"></div>

    {{ form_start(newBookingForm) }}
    <div class="form-group mb-3">
        <div class="mb-3">
            {{ form_label(newBookingForm.begin_at) }}
            {{ form_widget(newBookingForm.begin_at) }}
            {% if form_errors(newBookingForm.begin_at) %}
                <div class="alert alert-danger">{{ form_errors(newBookingForm.begin_at) }}</div>
            {% endif %}
        </div>
    </div>

    <div class="form-group mb-3">
        <div class="mb-3">
            {{ form_label(newBookingForm.end_at) }}
            {{ form_widget(newBookingForm.end_at) }}
            {% if form_errors(newBookingForm.end_at) %}
                <div class="alert alert-danger">{{ form_errors(newBookingForm.end_at) }}</div>
            {% endif %}
        </div>
    </div>

    <div class="form-group mb-3">
        <div class="mb-3">
            {{ form_label(newBookingForm.title) }}
            {{ form_widget(newBookingForm.title) }}
            {% if form_errors(newBookingForm.title) %}
                <div class="alert alert-danger">{{ form_errors(newBookingForm.title) }}</div>
            {% endif %}
        </div>
    </div>
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
    <div class="form-group mb-3">
        <button type="submit" class="btn btn-outline-primary">Créer une date</button>
    </div>
    
    {{ form_end(newBookingForm) }}
</div>
{% endblock %}
