{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/custom-slider.js') }}"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
var dateSpan = document.getElementById("Aujourdhui");
var heureSpan = document.getElementById("HeureActuelle");

function updateDateTime() {
var currentDate = new Date();

var timeOptions = {
hour: '2-digit',
minute: '2-digit'
};

var formattedTime = currentDate.toLocaleTimeString('fr-FR', timeOptions);

var dateOptions = {
weekday: 'long',
year: 'numeric',
month: 'long',
day: 'numeric'
};

var formattedDate = currentDate.toLocaleDateString('fr-FR', dateOptions);

dateSpan.textContent = formattedDate;
heureSpan.textContent = formattedTime;
}

// Mise à jour initiale
updateDateTime();

// Mise à jour toutes les 60 secondes (ajustez l'intervalle selon vos besoins)
setInterval(updateDateTime, 60000);
});
	</script>
	<!-- Ajouter le widget météo -->
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="{{ asset('assets/css/custom-slider.css') }}">
{% endblock %}


{% block body %}
	<div class="swiper-container">
		<div
			class="swiper-wrapper">
			<!-- Diapositive 1 -->
			<div class="swiper-slide" style="height: 100vh; position: relative;">
				<img src="{{ asset('assets/img/Ehpad-La-Roseraie-min-min.jpg') }}" alt="Red Slide" style="height: 100%">
				<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
					<img src="{{ asset('assets/img/LOGO-blanc-LaRoseraie-vector.svg') }}" alt="Logo SVG" style="width: 50%; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
				</div>
			</div>

			<!-- Diapositive 2 -->
			<div class="swiper-slide">
				<div class="dateDuJour">
					<h1>Nous sommes le</h1>
					<h1>
						<span id="Aujourdhui"></span>
					</h1>
					<h1>Il est
						<span id="HeureActuelle"></span>
					</h1>
					<br>
					{# Widget pour la météo :  #}
					<div id="ww_bc2631a0d5030" v='1.3' loc='auto' a='{"t":"horizontal","lang":"fr","sl_lpl":1,"ids":["wl3286"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"#2C5D8C","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'>Plus de prévisions:<a href="https://oneweather.org/fr/paris/30_jours/" id="ww_bc2631a0d5030_u" target="_blank">30 jours previsions meteo</a></div><script async src="https://app2.weatherwidget.org/js/?id=ww_bc2631a0d5030"></script>
					<br>
					{# Widget pour les fêtes du jour :  #}
					<div id="widget_nominis" class="css_nominis"></div>
					{# <script type="text/javascript" src="https://nominis.cef.fr/widgets/widget.php?id=widget_nominis&format=1"></script> #}
				</div>
			</div>

			<!-- Diapositive 3 Arrivées -->
			<div class="swiper-slide" id="uploadFileSection">
			<h1 class="arrivee" id="arriveePart">Arrivées :</h1>
				<div class="textArrivee">
					
					<div class="arrivee-info">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">Nom</th>
									<th scope="col">Prénom</th>
									<th scope="col">Profession</th>
								</tr>
							</thead>
							<tbody>
								{% for arrivee in arrivees %}
									<tr class="table-active">
										<td>
											<a href="{{ path('app_arrivee_modifier', {'id': arrivee.getId()}) }}" style="text-decoration:none; color: black">{{ arrivee.nom }}</a>
										</td>
										<td>
											<a href="{{ path('app_arrivee_modifier', {'id': arrivee.getId()}) }}" style="text-decoration:none; color: black">{{ arrivee.prenom }}</a>
										</td>
										<td>
											<a href="{{ path('app_arrivee_modifier', {'id': arrivee.getId()}) }}" style="text-decoration:none; color: black">
												{% for professionKey in arrivee.profession %}
													{% set profession = {
                                            '1': 'Aide-soignant(e)',
                                            '2': 'Infirmier(ère)',
                                            '3': 'Agent de service hospitalier (ASH)',
                                            '4': 'Animateur(trice)',
                                            '5': 'Cuisinier(ère)',
                                            '6': 'Technicien(ne) de maintenance',
                                            '7': 'Responsable administratif(ve)',
                                            '8': 'Médecin coordinateur',
                                            '9': 'Cadre de santé',
                                            '10': 'Psychologue',
                                            '11': 'Résident(e)',
                                        }[professionKey] %}
													{{ profession }}
													{% if not loop.last %},
													{% endif %}
												{% endfor %}
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="imageContainer">
					<div class="card mb-3">
						{% if imageFileName is not null %}
							<div class="image-wrapper">
								<img src="{{ asset('DownloadedImage/' ~ imageFileName) }}" alt="UploadedImage">
							</div>
						{% else %}
							<p class="no-image-text">Aucune image sélectionnée</p>
						{% endif %}
					</div>
				</div>
			</div>

			<!-- Diapositive 6 Départs -->
			<div class="swiper-slide">
				<h1 style=" text-align: center; margin-top: 5%">Départs :</h1>
				<div
					id="departFullPage">

					{# <div class="animationDepart" id="departFullPage">
										                    <div class="redLightStart" id="redLights">
										                        <img class="redLight redLight1" src="{{asset('assets/img/red light.png')}}" alt="">
										                        <img class="redLight redLight2" src="{{asset('assets/img/red light 1.png')}}" alt="">
										                        <img class="redLight redLight3" src="{{asset('assets/img/red light 2.png')}}" alt="">
										                        <img class="redLight redLight4" src="{{asset('assets/img/red light 3.png')}}" alt="">
										                        <img class="redLight redLight5" src="{{asset('assets/img/red light 4.png')}}" alt="">
										                    </div>
										                    <div class="wheelChair">
										                        <img src="{{asset('assets/img/wheelchair.png')}}" alt="" class="moveWheelChair">
										                    </div>
										                </div> #}
					<div class="imageDepart">
						<img src="{{asset ('assets/img/personnes-agees-partant-vacances-chargeant-valise-bagages-dans-coffre-automobile-maison-voyager-voiture-bagages-sacs-quitter-voyage-aventure-du-paysage-urbain-onubran_482257-47774.png')}}" alt="">
					</div>

					 <div class="card border-secondary mb-3" style="width: 50rem;">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">Nom</th>
									<th scope="col">Prénom</th>
									<th scope="col">Profession</th>
								</tr>
							</thead>
							<tbody>
							{% if is_granted('ROLE_ADMIN') %}
								{% for depart in Departs %}
									<tr class="table-active">
										<td>
											<a href="{{ path('app_depart_modifier', {'id': depart.getId()}) }}" style="text-decoration:none; color: black">{{ depart.nom }}</a>
										</td>
										<td>
											<a href="{{ path('app_depart_modifier', {'id': depart.getId()}) }}" style="text-decoration:none; color: black">{{ depart.prenom }}</a>
										</td>
										<td>
											<a href="{{ path('app_depart_modifier', {'id': depart.getId()}) }}" style="text-decoration:none; color: black">
												{% for professionKey in depart.profession %}
													{# ce qui suit me permet d'afficher le nom de la profession au lieu que cela affiche son chiffre #}
													{% set profession = {
                                                    '1': 'Aide-soignant(e)',
                                                    '2': 'Infirmier(ère)',
                                                    '3': 'Agent de service hospitalier (ASH)',
                                                    '4': 'Animateur(trice)',
                                                    '5': 'Cuisinier(ère)',
                                                    '6': 'Technicien(ne) de maintenance',
                                                    '7': 'Responsable administratif(ve)',
                                                    '8': 'Médecin coordinateur',
                                                    '9': 'Cadre de santé',
                                                    '10': 'Psychologue',
                                                    '11': 'Résident(e)',
                                                }[professionKey] %}
													{{ profession }}
													{% if not loop.last %},
														{# Si l'élément actuel n'est pas le dernier #}
													{% endif %}
												{% endfor %}
												
											</a>
										</td>
									</tr>
								{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>


		</div>

		{# Permet d'ajouter deux boutons précédent et suivant  #}
		<div class="swiper-button-prev" style="color:#F16768;"></div>
		<div class="swiper-button-next" style="color:#F16768;"></div>

	</div>
{% endblock %}
